html, body { 
	height: 100%; padding: 0; margin: 0; 
}

div.container { 
	max-width: 50%;
	max-height: 50%;
	width: 50%; 
	height: 50%; 
	float: left; 
}

#map{
	height: 100%;
}

div.map{
	background-color: red;
}

.insidetilt{
	display: inline-block;
	margin: 15.5% 0 50% 20%;
}

div.tilt{
	background-color: #E0E4CC;
	background-image: url(images/grid.png);
	opacity: 0.5;
}

div.speedo{
	background-color: #FABFA1;
	font-family: Orbitron;
	
}

.graph{
	margin-top: 1%;
}

.speedo *{
	margin: 0 0 0 0;
}

.time{
	text-align: right;
	margin: 3% 1% 0 0; 
}

.time p{
	display:inline-block;
}

.time #static{
	font-size: 20px;
}

.time #dynamic{
	font-size: 40px;
}


.speed{
	text-align: center;
	margin: 10% 0 0 0; 
}

.speed p{
	display:inline-block;
}

.speed #static{
	font-size: 75px;
}

.speed #dynamic{
	font-size: 150px;
}


.avg_dist{
	text-align: center;
	margin: 5% 0 0 0;  
}

.avg_dist p{
	display:inline-block;
}

.avg_dist #static{
	font-size: 15px;
}

.avg_dist #dynamic{
	font-size: 30px;
}


.avg_time{
	text-align: center; 
	margin: 2% 0 0 0; 
}

.avg_time p{
	display:inline-block;
}

.avg_time #static{
	font-size: 15px;
}

.avg_time #dynamic{
	font-size: 30px;
}

@font-face{
 font-family:'Orbitron';
 src: url('fonts/Orbitron-Medium.ttf');
}


