<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/
	libs/jquery/1.3.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
	<script type="text/javascript" src="../static/js/canvas.js"></script>
	<script type="text/javascript" src="../static/js/map.js"></script>

	<script type="text/javascript" src="../static/js/canvasjs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDskVwf9c_yV2fXOWfeJZKjY7BcNH4V9xU&callback=initMap" async defer></script>
	<title>Display Console</title>
	<script type="text/javascript">
	var auto_refresh = setInterval(
	function ()
	{
		$.get("http://127.0.0.1:5000/spd",function(data,status){
			$('#dynamicspeed').text(data);
		});

		$.get("http://127.0.0.1:5000/time",function(data,status){
			$('#timenow').text(data);
		});

		$.get("http://127.0.0.1:5000/trip_dist",function(data,status){
			$('#trip_dist').text(data);
		});

		$.get("http://127.0.0.1:5000/trip_time",function(data,status){
			$('#dynamictime').text(data);
		});


	}, 450); // refresh every 10000 milliseconds
</script>
</head>
<body>
		
		<div class="map container">
			<div id="map"></div>
		</div>
		
		<div class="tilt container">
			<div style="-webkit-transform: rotate(0deg);" class="insidetilt">
				<img src="../static/css/images/line.png">
			</div>
			<div style="-webkit-transform: rotate(90deg);" class="insidetilt">
				<img src="../static/css/images/line.png">
			</div>
			
		</div>

		<div class="graph container">
			<div id="chartContainer"></div>			
		</div>
		<div class="speedo container">
			<div class="time">
				<p id="timenow">07:03</p>
				<p id="static">pm</p>
			</div>
			<div id="bottom_display">
				<div class="speed">
					<p id="dynamicspeed"></p>
					<p id="static">kmph</p>
				</div>
				<div class="avg_dist">
					<p id="trip_dist">22.3</p>
					<p id="static">km</p>
				</div>
				<div class="avg_time">
					<p id="dynamictime">13</p>
					<p id="static">min</p>
				</div>
			</div>
		</div>
</body>
</html>